html, body {
	margin: 0;
	padding: 0;
}

.header{
 height: auto;
 width: 100%;
 background-color: white; 
 position: relative;
 margin: 0;
}

.headerLogo {
	margin-left: 30px;
	display: inline-block;
}

.headerMenu {
	display: inline-block;
	margin-right: 30px;
	float: right;
}

.nav li{
	color: #009360;
	display: inline;
	font-size: 20px;
	margin-right: 30px;
	padding: 10px;
	/*padding: 0 0 5px;*/
}

.jumbotron{
	position: absolute;
	height: 100%;
	width: 100%;
}

.bg{
	/*background: url("background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.bag{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.buddy{
	background-color: rgba(255,255,255,0.85);
	text-align: center;
	position: relative;
	top: 180px;
	width : 400px;
    margin-left: auto;
    margin-right: auto;

}

h1{
	color:#CC3739;
	text-align: center;
}
h2{
	color:#009360;
	text-align: center;
}
h3 p{
	color:#565656;
}
p{
	text-align: center;
}
